html{text-align:center;}
button{font-size:1.75em}

table{
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}


td{
    width: 45px;
    height: 45px;
}
.filled{
    border:2px solid black;
    background-image:linear-gradient(yellow,red);

}

@keyframes fadeIn {
    from {
      opacity:0%;
    }
    to {
      opacity:100%;
    }
  }


.startingCard{
    border:2px solid black;
    background-color:purple;
}


.hide{
    display:none;
}