html{text-align:center;}
button{font-size:1.75em}



.hide{
  display:none;
}

td{
    width: 45px;
    height: 45px;
    background-color:white;
    border:2px solid black;
}

#remainingCardsDisplay .filled{
  background-color:cornflowerblue;
}


#mainCardsDisplay .filled{
    background-image:linear-gradient(yellow,red);
}
#startCardsDisplay .filled{
    background-color:plum;
}
.filled{
    border:2px solid black;
    
}

#mainCardsDisplay{
  margin-top:20px;
  overflow: hidden;
  height:522px;
}

#startCardsDisplay{
  margin-top:20px

}

.deleteme_backward{margin-top:-262px;}

table{
    border-collapse: collapse;
    
}

.singleCardContainer{
    
    border-radius: 10px;
    padding:10px;
    margin:auto;
    margin-top:0px;
    margin-bottom:10px;
    height:230px;
    width:197px;
    border:1px solid black;
    background-color:grey;
    
}
.singleCardContainer p{
    margin-top:0;

}

.lockView{
  margin-top:-262px;
}

.drawForward{
  animation:up 0.5s forwards;
}
@keyframes up {
  from {
    margin-top:0px;
  }
  to {
    margin-top:-262px;
  }
}

.drawBackward{
  animation:down 0.5s forwards;
}
@keyframes down{
  from {
    margin-top:-262px;
  }
  to {
    margin-top:0px;
  }
}

.slide{
  animation:righttoleft 0.5s forwards;
}
@keyframes righttoleft {
  from {
    transform: translateX(25%);
  }
  to {
    transform: translateX(0%);
  }
}


