html{text-align:center;}
button{font-size:1.75em}

td{
    width: 45px;
    height: 45px;
    background-color:white;
}


.mainDeck .filled{
    background-image:linear-gradient(yellow,red);
}
.startingDeck .filled{
    background-color:plum;
}
.filled{
    border:2px solid black;
}


table{
    border-collapse: collapse;
    
}

.singleCardContainer{
    padding:10px;
    margin:auto;
    margin-top:20px;
    width:200px;
    border:1px solid black;
}
.singleCardContainer p{
    margin-top:0;

}

.slideR2L{
    animation: next 1s linear;
}
.slideL2R{
    animation: prev 1s linear;
}


@keyframes next {
    from {
      opacity:0%;
      transform: translateX(25%);
    }
    to {
      opacity:100%;
      transform: translateX(0%);
    }
  }

  @keyframes prev {
    from {
      opacity:0%;
      transform: translateX(-25%);
    }
    to {
      opacity:100%;
      transform: translateX(0%);
    }
  }

.hide{
    display:none;
}